/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-right: 0px !important;
}

body .container {
    text-align: center;
    max-width: 1500px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

body .item-header {
    border-bottom: none;
}

body .view-item {
    text-align: center;
}

body .view-item img {
    max-width: 500px;
    max-height: 500px;
}

@media screen and (max-width: 768px) {
    body .view-item img {
        width: 100%;
    }
}

body .item-videos {
    width: 100%;
}

body .item-videos iframe {
    height: 300px;
}

body .view-item .item-text {
    max-width: 600px;
    margin: 0 auto;
}

body .item-content {
    border-radius: 0px;
}

body .item-body {
    padding-top: 0px;
}

.banner-img {
    max-height: 220px;
    width: 100%;
}

.banner-img-home-link {
    max-width: 400px;
}

#owl-example .carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

#owl-example .owl-stage {
  width: 99999px!important;
}

#owl-example .carousel-item {
  width: 883px;
  width: 46vw;
  clear: both;
  overflow: hidden;
  padding-bottom: 40px;
}
#owl-example .portrait {
  max-height: 500px;
  height: 30.7vw;
  padding-bottom: 0;
  overflow: visible;
}
#owl-example img {
  height: auto;
}
#owl-example .portrait img {
  width: auto;
  height: 100%;
}

#owl-example .owl-stage-outer {
  padding-bottom: 0;
}

/* Fading on carousel images. Not sure how to get them to fade out again so disabled... */
/*@keyframes fadeIn {
    from {opacity: 0.65;}
    to {opacity: 1;}
}
#owl-example .owl-item.center {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
#owl-example .owl-item:not(.center) {
    opacity: 0.65;
}*/


@media screen and (max-width: 768px) {
    #owl-example .carousel-item {
        width: 235px;
        width: 70vw;
    }
    #owl-example .portrait {
        height: 156px;
        height: 46.6vw;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #owl-example .carousel-item {
        width: 235px;
        width: 70vw;
    }
    #owl-example .portrait {
        height: 335px;
        height: 46.6vw;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #owl-example .carousel-item {
        width: 235px;
        width: 68vw;
    }
    #owl-example .portrait {
        height: 464px;
        height: 45.3vw;
    }
}


body h1, body h2, body h3, body h4 {
    font-family: "Lato", Helvetia, sans-serif;
}

body .container {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    width: 100%;
}

.margin-top-10 {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    font-size: 18px;
}

header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner {
    width: 100%;
    max-width: 800px;
}

.header-links.links a {
    margin-top: 10px;
    font-size: 16px;
}

.header-links.links a:hover {
    color: #c1b6a3;
}

body a {
    color: #111;
}

body a:hover, body a:active, body a:hover, body a:focus {
    color: #c1b6a3;
    text-decoration: none;
}

.links {
    padding-bottom: 20px;
}

.links a {
    display: inline-block;
    min-width: 75px;
    font-size: 20px;
    text-align: center;
    
}

footer.links a {
    min-width: 40px;
    outline: 0;
}


.header-links.links a {
    color: #333;
    outline: 0;
}


.item-header h2 {
    display: inline-block;
    margin-right: 10px;
}

.item-content .close-full {
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-top: 6px;
}

.close-responsive {
    display: none;
}

.close-footer-holder {
    max-width: 400px;
    height: 2px;
    margin: 0 auto;
}

.item-content .close-footer {
    display: block;
    float: left;
}


@media screen and (max-width: 480px) {
    .item-content .close-responsive {
        float: none;
        display: block;
        position: absolute;
        top:-20px;
    }

    .item-content .close-footer {
        float: left;
        margin-left: 15px;
    }

    .item-content .close-full {
        display: none;
    }
}

.home-container {
    margin-top: 20px;
}

.masonry-container {
    margin: 0 auto;
}

.masonry-item {
    max-width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

.masonry-item img {
    width: 100%;
}

.owl-item {
    cursor: pointer;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
